<h1 id="logo">JOKO</h1>

<div class="container">
  <%= simple_form_for @user do |f| %>
    <%= f.input :email, label: false, placeholder: "Email", html: {autofocus: true} %>
    <%= f.input :password, label: false, placeholder: "Password" %>
        <%= f.button :submit, "Log in", class: "btn btn-primary", id: "btn_login" %>
  <% end %>
</div>

<%= button_to "Crée ton compte", new_user_registration_path, class: "btn btn-primary", id: "btn_signup" %>
